{% extends 'base.html.twig' %}
{% block title %}{{ title|default('News') }}{% endblock %}
{% block body %}
    <h2>{% if title is defined %}<a href="{{ path('index') }}">
                Index</a> / {% endif %}{{ title|default('News') }}:</h2>
    {% for article in articles %}
        <p><i>{{ article.createdAt|date('Y-m-d H:i') }}:</i>
            {{ article.content|highlight(query) }}</p>
        <hr>
    {% endfor %}
{% endblock %}